*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    color: black;
    background-color:#F7F7F7;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'PT sans';
    height: fit-content;
}
html{ scroll-behavior: smooth;}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.4rem 7%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
}

.navbar .navbar-logo{
    font-size: 1.7rem;
    font-weight: 600;
    font-family:'PT Sans' ;
    color: black;
}

.navbar .navbar-logo span {
        color:#C2EA66;
}

.navbar .navbar-nav a{
    margin: 0 1.5rem;
    color: black;
    font-weight: 600;
    display: inline-block;
    font-family: 'PT Sans';
}

.navbar .navbar-nav a:hover {
    background-color: #C2EA66;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;

  }

  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #043D2C;
    transform: scaleX(0);
    transition: 0.2s linear;
  }
.navbar-nav .aboutnav{
  background-color: #C2EA66;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;

}
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
  
  .navbar .navbar-extra label {
    color:black;
    gap: 8px;
    display: flex;
    align-items: center;

  }
  
  .navbar .navbar-extra a:hover {
    color: var(--color);
  }
  
  #hamburger-menu {
    display: none;
  }


  /* main */

  .about{
    padding: 2rem 10%;
    display: flex;
    margin: 40px 40px 20px 40px;
  }

  span{
    color: #C2EA66;
  }

  .about .card{
    background-color:#C2EA66;
    border-radius: 1.4rem ;
    width: 100%;
    margin-right: 5rem;
    height:fit-content;
    width: fit-content;
  }

  .card h2{
    padding: 1rem 7%;
    /* margin: 30px; */
  }
  .img{
    padding: 8px;
  }
  .img .h1{
    border-top: 1px solid #fff;
    margin:0 12px 28px 12px;
  }
  
  .card .img .row{
    display: flex;
    width: 100%;
    gap: 24px;
    margin: 10px;
 }

 .card2{
   background-color: #fff;
   border-radius: 24px;
   padding: 30px;
   text-align: center;
   align-items: center;
   box-sizing: border-box ;
   height: fit-content;
   width: fit-content;
 }
 .card2 h1{
  margin-bottom: 30px;
  font-size: 2.5rem;
 }

  .card2 p{
  margin: 10px;
  color:#666666;
  font-family: 'poppins';
  font-size: 16px;
}

.card3{
  display: block;
}

.box2 .donate {
  padding: 4vh 2vw;
  background-color: white;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}











  /* Footer */
footer{
    padding: 32px 2vw 12px;
    height: fit-content;
    /* margin-top: 50%; */
  }
     .box {
      display: inline-flex;
      box-sizing: border-box;
      width: 100%;
      padding: 52px 6vw 32px;
      flex-direction: column;
      gap: 24px;
      border-radius: 24px;
      background: #000;   
      color: white;
    
  }
  
   .box .row2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
  }
  
   .box .row2 .logo {
      width: 240px;
  }
  
   .box .row2 .logo span {
      color: #C2EA66;
  }
  
   .box .row2 .logo h2 {
      margin-bottom: 16px;
      font-size: 32px;
  }
  
   .box .row .logo p {
      font-size: 14px;
      font-weight: lighter;
      line-height: 180%;
      color: #bbb;
  }
   .box .row2 .group {
      display: flex;
      gap: 80px;
      padding: 0 2vw 0 0;
  }
  
   .box .row2 .group .wrap {
      display: flex;
      flex-direction: column;
      gap: 16px;
      text-align: center;
  }
  
   .box .row2 .group .wrap h4 a {
      color: #eee;
      font-size: 14px;
  }
  
   .box .hl {
      border-top: 1px solid #666;
  }
  
   .box .copyright {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      font-weight: lighter;
      color: #bbb;
  }
  
   .box .copyright span {
      font-weight: bold;
      color: #ccc;
  }
  
  
  
  
  
  
  
  
  /* --------------------------------------------------- */